<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some WebSite</title>
</head>

<body>
    <h1>Site Under Maintainance</h1>
    <p>Come back later</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatem corrupti itaque debitis porro hic
        voluptate, obcaecati iste expedita dolorum. Reprehenderit aspernatur fugit esse numquam tempore molestias alias autem
        expedita.</p>
</body>

</html>